*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: #749ade;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.main-header {
    font-size: 15px;
}

.main-header span {
    color: #101080;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.main-navbar ul li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

.main-navbar ul li:hover {
    cursor: pointer;
    background: #749ade;
    transition: background 1s;
}

.main-navbar ul li:hover a {
    color: #fff;
}

.main-navbar ul li:nth-child(3) ul {
    display: none;
}

.main-navbar ul li:nth-child(3) {
    position: relative;
}

.main-navbar ul li:nth-child(3):hover ul {
    display: block;
    position: absolute;
    left: 0%;
    width: 100px;
    background: #f4f4f4;
}

.main-navbar ul li:nth-child(3):hover ul li a {
    color: blue;
}

header {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 20px 10px;
    animation: slideFromLeft 1s ease-in-out;
}

/* showcase */
.showcase {
    animation: slideFromBottom 1.3s ease-in-out;
}

.container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 40px;
}

.title {
    margin-bottom: 20px;
}

.title h3 {
    text-align: center;
    padding-top: 20px;
    color: #101080;
}

.my-form {
    padding: 30px;
    max-width: 500px;
    margin: auto;
    background: #f4f4f4;
    box-shadow: 1px 3px 5px 5px #10181938;
    border-radius: 5px;
    animation: slideFromBottom 1s ease-in-out;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border-radius: 7px;
    border-top: none;
    border-right: none;
    border-left: none;
}

input[type="text"] {
    width: 100%;
}

input[type="text"]::placeholder {
    color: #2321d8;;
}

input[type="submit"] {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #2321d8;
    box-shadow: 1px 1px 5px 4px rgb(0 0 0 / 13%);
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: #fff;
    transform: scale(0.97);
}
    
#loading {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.fehrenheit, #loading {
    display: none;
}

.alert {
    background: red;
    text-align: center;
    color: #fff;
    padding: 5px;
}

/* .card-darken {
    transition: 1s;
    filter: brightness(80%);
} */

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (max-width: 764px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .main-header h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .main-navbar ul li {
        padding: 5px;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}